.mobileContainer {
  display: none;
}

.normalContainer {
  display: block;
}

.miniContainer {
  display: block;
}

.carousel {
  padding-bottom: 16px;
}

.fontContainer {
  font-family: "Lato", sans-serif;
}

.card {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.mobileCard {
  min-width: 250px;
  max-width: 350px;
  margin: auto;
  margin-top: 16px;
}

.cardImage {
  width: 40%;
  height: 500px;
  object-fit: cover;
}

.miniCardImage {
  width: 40%;
  height: 250px;
  object-fit: cover;
}

.mobileCardImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.artistFlexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artistName {
  font-weight: bold;
  font-size: 0.875rem;
  color: #2d2d2d;
}

.artistLabel {
  font-size: 0.725rem;
  text-transform: capitalize;
  color: #727272;
  margin-top: 4px;
}

.itemTitle {
  margin-top: 4px;
  font-weight: bold;
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  color: #2d2d2d;
}

.itemType {
  text-transform: capitalize;
  letter-spacing: 0.02rem;
  font-size: 0.725rem;
  color: #727272;
  margin-top: 20px;
}

.mobileItemType {
  text-transform: capitalize;
  letter-spacing: 0.02rem;
  font-size: 0.725rem;
  color: #727272;
}

.itemPrice {
  font-weight: normal;
  letter-spacing: 0.02rem;
  font-size: 1.125rem;
  color: #2d2d2d;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
}

.descriptionTab {
  margin-top: 8px;
  font-weight: bold;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  color: #2d2d2d;
  width: fit-content;

  border-bottom: 4px solid #550ded;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: #2d2d2d;
}

.buyNow {
  text-decoration: none;
  text-align: center;
  background-color: #550ded;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
}

.buyNow div {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  color: #ffffff;
}

.miniBuyNow {
  text-decoration: none;
  text-align: center;
  background-color: #550ded;

  font-size: 1rem;
  letter-spacing: 0.02rem;
  color: #ffffff;

  padding: 12px;
  margin: 12px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobileBuyNow {
  text-decoration: none;
  text-align: center;
  background-color: #550ded;

  font-size: 1.25rem;
  letter-spacing: 0.02rem;
  color: #ffffff;

  padding: 12px 0px;
  display: flex;
  justify-content: center;
}

/* styles for type == username */
.gridCard {
  /* width: 1100px; - contained by widget container*/
  margin: auto;
  padding: 24px 64px;
}

@media screen and (max-width: 767px) {
  .gridCard {
    margin: auto;
    padding: 12px;
  }
}

.storeName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.25rem;
  color: #2d2d2d;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.gridContainer {
  display: grid;
  grid-gap: 1.75rem;
  margin-bottom: 32px;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.gridItemCard {
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 420px;
  min-width: 250px;
  max-width: 350px;
  margin: auto;
}

.gridItemcardImage {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.gridSubtitle {
  text-transform: capitalize;
  letter-spacing: 0.02rem;
  font-size: 0.725rem;
  color: #727272;
}

.gridItemTitle {
  margin-top: 4px;
  letter-spacing: 0.02rem;
  font-size: 0.875rem;
  color: #2d2d2d;
}

.loadMore {
  cursor: pointer;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.02rem;
  border: 1px solid #2d2d2d;
  color: #2d2d2d;
  padding: 8px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.poweredBy {
  position: absolute;
  top: -20px;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  color: #000000;
}

.buyNowSingle {
  text-decoration: none;
  text-align: center;
  background-color: #550ded;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  margin: 16px;
}

.buyNowSingle div {
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .mobileContainer {
    display: block;
  }

  .normalContainer {
    display: none;
  }

  .miniContainer {
    display: none;
  }

  .loadMore {
    cursor: pointer;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: 0.02rem;
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
    padding: 8px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }

  .poweredBy {
    position: absolute;
    top: -24px;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02rem;
    color: #000000;
  }
}
